// COLORS
$blue-grey = #8a93a3
$aqua-marine = #4ad0bd
$peachy-pink = #ff8282
$orange-yellow = #ffa000
$pale-grey-two = #eceff4
$pale-grey-three = #f9fafb
$white = #ffffff
$light-blue-grey = #c6cdd7
$solid-black = #1e1e3c
$ocean-blue = #046d9d

// SEMANTIC COLORS
$line-core = $solid-black
$line-accent = $aqua-marine
$line-light = $blue-grey
$line-lighter = $light-blue-grey
$line-border = $pale-grey-two
$line-danger = $peachy-pink
$line-ok = $aqua-marine
$line-special-1 = $peachy-pink
$line-special-2 = $orange-yellow
$line-special-3 = $ocean-blue

$background-core = $white
$background-darken = $pale-grey-three

// FONTS
$font-core = 'Open Sans', Arial, sans-serif

// BREAKPOINTS
$break-tablet = 990px
$break-tablet-small = 960px
$break-phone = 660px
$break-phone-small = 480px
